@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@layer components {
    .navList {
        @apply p-0 flex items-center list-none text-black cursor-pointer ease-out duration-150 hover:text-gray-700 border-b-4 border-transparent hover:border-gray-700;
    }

    .featuredArrow {
        @apply absolute w-[10%] h-[20%] -top-10 bottom-0 my-auto mr-12 z-30 cursor-pointer md:mr-0 md:ml-10;
    }
}
